//SELL YOUR WATCH
.container-sellYourWatch {
    margin: 40px 0;
    padding: 0 20px;

    &__watch {
        margin: 50px 0;
    }

    &__title {
        font-family: 'Lora', sans-serif;
        font-size: 40px;
        margin-top: 30px;
    }

    &__line {
        background-color: $primary-color;
        height: 4px;
        width: 20%;
        margin: 30px 0;
    }

    &__description {
        font-size: 24px;
        letter-spacing: 1px;
        margin-bottom: 40px;

        &__icon {
            margin-right: 10px;
            color: $primary-color;
        }
    }

    &__btn {
        padding: 30px;
        letter-spacing: 3px;
        font-size: 25px;

        &:hover {
            background-color: #a17f35;
            border: 1px solid $primary-color;
        }
    }
}